{% load static %}

<div class="location match-height group">
    <div class="loaction-1"> <img class="text" src="{% static 'img/image_contact.png' %}" alt="" width="38" height="48" title="">
        <p class="name">{{city}}</p>
        <div class="details">
            <p class="text-style"><strong class="fw700">Phone:</strong></p>
            <p><strong class="text-style-2">{{phone}}</strong></p>
            <p class="text-style"><strong class="fw700">Email:</strong></p>
            <p><strong class="text-style-2">{{mail}}</strong></p>
            <p class="text-style"><strong class="fw700">Address:</strong></p>
            <p>{{adres}}</p>
        </div>
    </div>
    <div class="loaction-2"> <img class="text-2" src="{% static 'img/image_contact.png' %}" alt="" width="38" height="48" title="">
        <p class="name-2">California</p>
        <div class="details-2">
            <p class="text-style"><strong class="fw700">Phone:</strong></p>
            <p><strong class="text-style-2">1900 - 1234 -5678</strong></p>
            <p class="text-style"><strong class="fw700">Email:</strong></p>
            <p><strong class="text-style-2">info@interior.com</strong></p>
            <p class="text-style"><strong class="fw700">Address:</strong></p>
            <p>12 W 1st St, 90001 Los Angeles, California</p>
        </div>
    </div>
    <div class="loaction-3"> <img class="text-3_1" src="{% static 'img/image_contact.png' %}" alt="" width="38" height="48" title="">
        <p class="name-3">California</p>
        <div class="details-3">
            <p class="text-style"><strong class="fw700">Phone:</strong></p>
            <p><strong class="text-style-2">1900 - 1234 -5678</strong></p>
            <p class="text-style"><strong class="fw700">Email:</strong></p>
            <p><strong class="text-style-2">info@interior.com</strong></p>
            <p class="text-style"><strong class="fw700">Address:</strong></p>
            <p>12 W 1st St, 90001 Los Angeles, California</p>
        </div>
    </div>
</div>