{% load static %}

<!-- названия классов вложенных элементов начинаем с названия родительского блока так проще ориентироваться в css -->
<div class="slider-text">
    <p class="slider-tranding">TRENDING</p>
    <h2 class="slider-h2">Fishnet Chair</h2>
    <!-- Текст из макета: "Seat and back with upholstery made of cold cure foam. Steel frame, available in matt powder-coated black or highly polished chrome." Отображаемый в макете короче, чем скопированный! В конце прилипает комментарий дизайнера. Из параграфа его удалим-->
    <p class="slider-content">Seat and back with upholstery made of cold cure foam. Steel frame, available in matt powder-coated black</p>
    <!--кнопки чаще всего имеют единый стиль, поэтому не привязываем название к слайдеру--><a href="" class="button">Order Us</a> </div>

