{% load static %}

<div class="hot-deals padding-site">
    <!-- названия классов вложенных элементов начинаем с названия родительского блока так проще ориентироваться в css -->
    <div class="hd-text">
        <p class="hd-tag">Hot deal</p>
        <p class="hd-h2">Fishnet Chair</p>
        <!-- Текст из макета: "Seat and back with upholstery made of cold cure foam. Steel frame, available in matt powder-coated black or highly polished chrome." Отображаемый в макете короче, чем скопированный! В конце прилипает комментарий дизайнера. Из параграфа его удалим-->
        <p class="hd-content">Seat and back with upholstery made of cold cure foam. Steel frame, available in matt powder-coated black</p>
        <!--кнопки чаще всего имеют единый стиль, поэтому не привязываем название к слайдеру--><a href="" class="button">Order Us</a> </div>
    <div class="pagination">
        <a href="" class="circle"></a>
        <a href="" class="circle circle-active"></a>
        <a href="" class="circle"></a>
    </div>
</div>