{% load static %}

<ul class="tab-controll clearfix">
    <li class="tab-controll-list"><a href="#" class="tab-controll-link tab-controll-link-active">Featured</a></li>
    <li class="tab-controll-list"><a href="#" class="tab-controll-link">New</a></li>
</ul>
<ul class="btn-ghost clearfix">
    <li class="btn-ghost-list"><a href="#" class="btn-ghost-link">explore all</a></li>
    <li class="btn-ghost-list">
        <a href="#" class="btn-ghost-link"><img src="{% static 'img\arrow.png' %}" alt=""></a>
    </li>
</ul>
