{% load static %}

<div class="trending-products padding-site">
    <ul class="title-controll clearfix">
        <li class="title-controll-list">Trending Products</li>
    </ul>
    <ul class="btn-ghost clearfix">
        <li class="btn-ghost-list"><a href="#" class="btn-ghost-link">explore all</a></li>
        <li class="btn-ghost-list">
            <a href="#" class="btn-ghost-link"><img src="{% static 'img\arrow.png' %}" alt=""></a>
        </li>
    </ul>
    <div class="products-content">
        <div class="t-product product-11">
            <a href="#"><img src="{% static 'img\product-11.png' %}" alt="product-1"></a>
        </div>
        <div class="t-product product-21">
            <a href="#"><img src="{% static 'img\product-21.png' %}" alt="product-2"></a>
        </div>
        <div class="t-product product-31">
            <a href="#"><img src="{% static 'img\product-31.png' %}" alt="product-3"></a>
        </div>
        <div class="t-product product-41">
            <a href="#"><img src="{% static 'img\product-41.png' %}" alt="product-4"></a>
        </div>
        <div class="t-product product-5">
            <a href="#"><img src="{% static 'img\product-5.png' %}" alt="product-5"></a>
        </div>
        <div class="t-product product-6">
            <a href="#"><img src="{% static 'img\product-6.png' %}" alt="product-6"></a>
        </div>
    </div>
</div>
